h1 {color: blue;text-align:center}
h2 {color: green;font-style:italic;text-align:center;}
h4 {color: maroon;font-style:oblique;text-align:left;font-family:Geneva;}
p {font-family: geneva;font-size: 10px;}
ul {line-height: 20px;}
body {background-color: steelblue}